@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 0px 0 0px;
  padding: 25px 0 5px;
  text-align: center;
  background:#5F90BD;
}
.menu-main li {display: inline-block;}
/*.menu-main li:after {
  content: "|";
  color: #fff;
  display: inline-block;
  vertical-align:top;
}*/
.menu-main li:last-child:after {content: none;}
.menu-main a {/*текст меню*/
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 75px 0 60px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #fff;}
.menu-main a.current, .menu-main a:hover{color: #fff;}
.menu-main a:before,
.menu-main a:after {/*подчёркивания*/
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #fff;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {/*текст меню*/
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

style {
  margin: 0;
  padding: 0;
}

div {
  text-align: left;
  float: none;
  left: 0;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Inter';
  letter-spacing: 2px;
  font-size: 30px;
}

ol {
  font-family: 'Inter';
  letter-spacing: 2px;
  position: relative;
}

body {
  background: #eee;
  color: #111;
}

h1 {
  font-family: 'Inter';
  font-size: 60px;
  color: #000;
}

h2 {
  color: #000;
}

li {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ff7300;
  text-decoration: none;
}

.menu {
  position: fixed; /* Фиксированное положение */
  right: 0px; /* Расстояние от правого края окна браузера */
  bottom: 0px; /* Расстояние снизу окна браузера */
  top: 20px; /* Расстояние сверху */
  padding: 1000px; /* Поля вокруг текста */ 
  background: #9296e7; /* Цвет фона */ 
  border: 0px solid #333; /* Параметры рамки */ 
  
   }
   .text {
  height: 50px;
}

.menu1 {
  position: fixed; /* Фиксированное положение */
  left: 0px; /* Расстояние от правого края окна браузера */
  bottom: 0px; /* Расстояние снизу окна браузера */
  top: 20px; /* Расстояние сверху */
  padding: 10px; /* Поля вокруг текста */ 
  background: #9296e7; /* Цвет фона */ 
  border: 0px solid #333; /* Параметры рамки */ 
  
}

.logoImg {
  position: absolute;
  top: 3px;
  left: 6px;
}

.gradient {
  
  width: 100%;
  height: 590px;
  left: 0px;
  top: 69.5px;
  background: linear-gradient(90deg, #8bcbd7, #fff);
}

.mainDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 17px 40px;
  gap: 32px;

  
  width: 80%;
  height: 324px;
  left: 100px;
  top: 150px;
  /*border-radius: 20px 20px 20px 20px;*/
}

.mainImg {
  position: absolute;
  border-radius: 20px 20px 20px 20px;
  top: 140px;
  right: 200px;
}

.main_h1 {
  
  width: 722px;
  height: 146px;
  left: 119px;
  top: 0px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;

  color: #000000;
}

.main_p {
  
  width: 578px;
  height: 175px;
  left: 120px;
  top: 160px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #000000;
}

.mainButton {
  
  width: 457px;
  height: 76px;
  left: 136px;
  top: 290px;
  border-radius: 20px 20px 20px 20px;
  font-size: 36px;
}

.descDiv {
  display: block;
  flex-direction: row;
  width: 100%;
  height: 1400px;
  left: 0px;
  top: 555px;
  background: #FFFFFF;
}

.kto_kogo_div {
  position: relative;
  width: 100%;
  height: 450px;
}

.about_servise_div {
  position: relative;
  width: 75%;
  left: 250px;
}

.about_servise_div1 {
  position: relative;
  display:inline-flex;
  width: 75%;
  top: 50px;
  left: 250px;
}

.div_about {
  position: relative;
  display:inline-flex;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}

.div_about1 {
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  left: 100px;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}

.div_about_text {
  position: relative;
  top: 3px;
  width: 70%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}

.div_about_text1 {
  position: relative;
  top: 15px;
  width: 90%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}

.imgService {
  left: 150px;
}

.h2 {
  font-size: 50px;
}

.kogo {
  position: absolute;
}

.img1 {
  position: absolute;
  width: 106.41px;
  height: 103.94px;
  left: 16%;
  top: 50px;
}

.img2 {
  position: absolute;
  width: 106.41px;
  height: 103.94px;
  left: 37%;
  top: 50px;
}

.img3 {
  position: absolute;
  width: 106.41px;
  height: 103.94px;
  left: 59%;
  top: 50px;
}

.kto1 {
  position: absolute;
  font-family: 'Inter';
  font-size: 36px;
  Top: 160px;
  Left: 13%;
}

.kto2 {
  position: absolute;
  font-family: 'Inter';
  font-size: 36px;
  Top: 160px;
  Left: 35.5%;
}

.kto3 {
  position: absolute;
  font-family: 'Inter';
  font-size: 36px;
  Top: 160px;
  Left: 56.7%;
}

.text1 {
  position: absolute;
  font-family: 'Inter';
  font-size: 28px;
  color: #8BCBD7;
  Width: 256.25px;
  Height: 99.43px;
  Top: 210px;
  Left: 13%;
}

.text2 {
  position: absolute;
  font-family: 'Inter';
  font-size: 28px;
  color: #8fb2ab;
  Width: 300.11px;
  Height: 133.7px;
  Top: 210px;
  Left: 35.5%;
}

.text3 {
  position: absolute;
  font-family: 'Inter';
  font-size: 28px;
  color: #5F90BD;
  Width: 286.25px;
  Height: 100.28px;
  Top: 210px;
  Left: 56.7%;
}

.mainFooterDiv {
  background-color: #CFCCCC;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 200px;
}

.footerDiv1 {
  position: relative;
  display: inline-block;
  width: 300px;
  left: 14%;
  top: 50px;
}

.footerP1 {
  position: relative;
  top: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.footerDiv2 {
  position: relative;
  display: inline-block;
  width: 300px;
  left: 31%;
  top: 50px;
}

.footerP2 {
  position: relative;
  top: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.footerDiv3 {
  position: relative;
  display: inline-block;
  width: 300px;
  left: 44%;
  top: -6px;
}

.costDivFilter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 17px 40px;
  gap: 32px;
  position: absolute;
  width: 18.65%;
  height: 324px;
  left: 60px;
  top: 16%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px 20px 20px 20px;
}

.costPh1 {
  position: absolute;
  font-family: 'Inter';
  font-size: 48px;
  color: #5F90BD;
  top: 20px;
  left: 40px;
}

.costPh2 {
  position: absolute;
  font-family: 'Inter';
  font-size: 32px;
  top: 100px;
  left: 40px;
}

#radioButton1 {
  position: absolute;
  left: 40px;
  top: 160px;
}

#radioButton2 {
  position: absolute;
  left: 40px;
  top: 195px;
}

#radioButton3 {
  position: absolute;
  left: 40px;
  top: 230px;
}

#radioButton4 {
  position: absolute;
  left: 40px;
  top: 265px;
}

.radioButtonText1 {
  position: absolute;
  left: 60px;
  top: 150px;
}

.radioButtonText2 {
  position: absolute;
  left: 60px;
  top: 185px;
}

.radioButtonText3 {
  position: absolute;
  left: 60px;
  top: 220px;
}

.radioButtonText4 {
  position: absolute;
  left: 60px;
  top: 255px;
}

.costButton {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 17%;
  width: 60%;
  top: 110%;
  border-radius: 20px 20px 20px 20px;
  font-size: 36px;
}

.costph3 {
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 48px;
  top: 20px;
  left: 40%;
}

.chartDivMain {
  display:inline-flex;
}

.chartMapDiv {
  position: relative;
  left: 7%;
  top: 10%;
  width: 40%;
  height: 60%;
}

.chartMap {
  position: relative;
  top: -17%;
  width: 65%;
  height: 100%;
}

.chartDiv {
  position: relative;
  top: -56%;
  left: 13%;
  width: 90%;
}

.chart {
  position: relative;
  top: 15%;
  left: 30%;
  width: 60%;
  height: 60%;
}

.mapCostDiv {
  position: relative;
  top: 4%;
  left: 30%;
  width: 65%;
  height: 65%;
}

#mapCost {
  position: relative;
  width: 100%;
  height: 100%;
}

.chartButton {
  position: relative;
  width: 26%;
  height: 50px;
  left: 7%;
  top: -56%;
  border-radius: 20px 20px 20px 20px;
  font-size: 36px;
}